PORT=8080
ENV=development
DATABASE_URL=postgres://linkgym:linkgym@localhost:5436/linkgym?sslmode=disable
S3_ENDPOINT=http://localhost:9000
S3_REGION=us-east-1
S3_BUCKET=linkgym
S3_ACCESS_KEY=linkgym
S3_SECRET_KEY=linkgymsecret
S3_USE_SSL=false
